* {
  margin: 0;
  padding: 0;
}

.question {
  margin-top: 50px;
  font-weight: normal;
  font-size: x-large;
}

.calculateButton {
  width: 12rem;
  height: 3rem;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  background-color: black;
  border-radius: 7px;
}

.HomePage {
  text-align: center;
}

.label {
  font-weight: bold;
  font-size: x-large;
}

.textField {
  width: 5rem;
  height: 2rem;
  border-radius: 7px;
  margin-top: 7px;
  text-align: left;
}

.modaldiv {
  background-color: antiquewhite;
  width: 40rem;
  border-radius: 10px;
  text-align: center;
  padding: 3rem;
}

.modalBack {
  width: 20rem;
  height: 3rem;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  background-color: black;
  border-radius: 7px;
}

.checkDiv {
  height: 1.8rem;
  padding: 0.5rem;
  background-color: antiquewhite;
  margin-top: 0.5rem;
  width: 15rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
}

.pickArea {
  margin-top: 1rem;
  padding: 0px 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.piece {
  height: 2rem;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 25px;
}

.piecesArea {
  justify-content: center;
  display: flex;
}

.word {
  height: 2rem;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 35px;
}

.constructionPiece {
  margin: 5px;
  background-color: white;
  padding: 5px 10px;
  border-color: black;
  border-radius: 4px;
  font-size: 20px;
}

.construction {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.modalMessage {
  margin-bottom: 20px;
}
